<div class="row">
  <div class="col-xs-12">
    <nav class="navbar navbar-default">
      <a
        class="navbar-brand navlinks"
        [ngClass]="{ active: activeLink == 'home' }"
        (click)="menuSelected('home')"
        >Home</a
      >
      <a
        class="navbar-brand navlinks"
        [ngClass]="{ active: activeLink == 'note' }"
        (click)="menuSelected('note')"
        >Note</a
      >
      <a
        class="navbar-brand navlinks"
        [ngClass]="{ active: activeLink == 'upcoming' }"
        (click)="menuSelected('upcoming')"
        >Upcoming</a
      >
      <a href="" class="pull-right navbar-brand" (click)="logout()"> Logout </a>
    </nav>
  </div>
</div>
