<!-- elementRef noteForm, we can also use viewChild reference in the component -->
<!-- using the formsModule angular automatically creates the javascript form object when it encounters a form element
angular will not automatically detect inputs as it may not know what inputs to include in the object and what to ignore
we can register controls manually
ngModel and name properties are required to mark a control as included in the form object

we can use ngNativeValidate to enable default html validation

we can use ngModelGroup='some group name' to group controls under a name-->
<form class="form" #noteForm="ngForm" (ngSubmit)="addNote()">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      name="title"
      class="form-control"
      type="text"
      id="title"
      placeholder="Your note title goes here"
      [ngModel]="selectedNoteTitle"
      required
      #title="ngModel"
    />
    <span class="help-block" *ngIf="!title.valid"
      >Please provide Title {{ title.valid && title.touched }}</span
    >
  </div>
  <div class="form-group">
    <label for="content">Note content</label>
    <textarea
      name="content"
      class="form-control"
      type="text"
      id="content"
      row="7"
      placeholder="Your note content goes here"
      [ngModel]="selectedNoteContent"
    ></textarea>
  </div>

  <button
    *ngIf="!edittingANote"
    class="btn btn-success pull-right"
    [disabled]="!noteForm.valid"
  >
    {{ submitBtnLabel }}
  </button>

  <span *ngIf="edittingANote">
    <!-- <button class="btn btn-danger" type="button" (click)="deleteNote(noteForm)">
      Delete
    </button> -->
  </span>

  <button (click)="addDummyNote()" type="button">Add a dummy note</button>

  <button class="btn btn-default" type="reset">Reset</button>
</form>
