<!-- elementRef noteForm, we can also use viewChild reference in the component -->
<!-- using the reactiveFormsModules we create the form in code and connect it with the html form using formgroup and other properties-->
<form class="form" [formGroup]="form" (ngSubmit)="addNote()">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      name="title"
      class="form-control"
      type="text"
      id="title"
      placeholder="Your note title goes here"
      formControlName="title"
      #title
    />
    <span
      class="help-block"
      *ngIf="!form.get('title')?.valid && form.get('title')?.touched"
      >Please provide Title</span
    >
  </div>
  <div class="form-group">
    <label for="content">Note content</label>
    <textarea
      name="content"
      class="form-control"
      type="text"
      id="content"
      row="7"
      placeholder="Your note content goes here"
      formControlName="content"
    ></textarea>
  </div>

  <button *ngIf="!edittingANote" class="btn btn-success pull-right">
    {{ submitBtnLabel }}
  </button>

  <span *ngIf="edittingANote">
    <!-- <button class="btn btn-danger" type="button" (click)="deleteNote(noteForm)">
      Delete
    </button> -->
  </span>

  <button (click)="addDummyNote()" type="button">Add a dummy note</button>

  <button class="btn btn-default" type="reset">Reset</button>
</form>
