<div class="row">
  <div class="col-xs-6">
    <div *ngIf="myNotes.length < 1; else displayNotesList">
      No notes created! No worries, let's get started with your first note on
      the right
    </div>
    <ng-template #displayNotesList>
      <ol>
        <li
          style="
            padding: 20px 10px;
            margin: 10px;
            background-color: bisque;
            cursor: pointer;
          "
          *ngFor="let note of myNotes; let i = index"
          (click)="noteSelected(i)"
        >
          <b styleTitle fontColor="grey">{{ note.title | toCase: "upper" }}</b>
          <br />
          <p style="margin-top: 20px">{{ note.content | toCase: "lower" }}</p>
        </li>
      </ol>
    </ng-template>
  </div>
  <div class="col-xs-6">
    <!-- using custom structural if directive -->
    <edit-note *rsIf="modeIsEditOrCreate"></edit-note>
    <!-- <display-note *ngIf="!modeIsEditOrCreate"></display-note> -->
  </div>
</div>

<!-- <a
  class="navbar-brand navlinks"
  routerLinkActive="active"
  routerLink="../home/notes"
  >Note</a
> -->
